*.apk
*.ap_
*.aab
*.dex
*.class
*.iml
*.log
*.jks
*.keystore
*.hprof

local.properties
Thumbs.db
output.json
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
google-services.json

.idea/
.DS_Store
.gradle
.navigation
.externalNativeBuild
.gradle/
.externalNativeBuild/
.cxx/
bin/
gen/
build/
obj/
captures/
